{% extends "base.twig" %}

{% block content %}

	<section id="artfairs" class="main">
		<div class="container">
			{% for term in artfair_category %}
				{% if term.get_posts is not empty %}
					{% if (term.slug == 'actuellement') or  (term.slug == 'current') %}

						<div class="row border">
										<div class="col-md-12">
												<h2>{{ term.name }}</h2>
										</div>
						</div>

						<div class="row featured">
								{% for post in term.get_posts %}
									<article>
											<figure>
													<a href="{{post.link}}">
															{% if post.thumbnail %}
																	<img src="{{post.get_thumbnail.get_src}}" />
															{% else %}
																	<img src="http://placehold.it/300&text=Image+Needed">
															{% endif %}
														</a>
											</figure>
											<div class="meta">
														<h4>{{post.title}}</h4>
														<p>{{post.get_field('date_artfair')}}</p>
											</div>
									</article>
							{% endfor %}
						</div>

					{% elseif (term.slug == 'past') or  (term.slug == 'passe') %}

						<div class="row border">
								<div class="col-md-6">
										<h2>{{ term.name }}</h2>
								</div>

								<div class="col-md-6">
									<ul class="filter">
										<li><a href="#" data-year="all">{{ function( 'pll_e'," Toutes")}}</a></li>
											{% for date in artfair_date %}
												{% if date.get_posts is not empty %}
													<li><a href="#" data-year="{{date.name}}">{{date.name}}</a></li>
												{% endif %}
											{% endfor %}
										{% endif %}
									</ul>
								</div>
						</div>
						<div class="row result-filter thumbnails">
							{% for post in term.get_posts %}
									<article class="col-md-3 col-sm-6" data-year="{{post.terms('artfair_date')|join(' ')}}">
											<figure class="c5">
													<a href="{{post.link}}">
															{% if post.thumbnail %}
																	<img src="{{post.get_thumbnail.get_src|resize(480)}}" />
															{% else %}
																	<img src="http://placehold.it/300&text=Image+Needed">
															{% endif %}
													</a>
											</figure>
											<div class="meta">
													<p><em><strong>{{post.title}}</strong></em><br>
														{{post.get_field('date_artfair')}}</p>
											</div>
									</article>
							{% endfor %}
						</div>

					{% else %}

						<div class="row border">
							<div class="col-md-12">
									<h2>{{ term.name }}</h2>
							</div>
						</div>

						<div class="row thumbnails">
							{% for post in term.get_posts %}
									<article class="col-md-3 col-sm-6">
											<figure class="c5">
													<a href="{{post.link}}">
															{% if post.thumbnail %}
																	<img src="{{post.get_thumbnail.get_src|resize(480)}}" />
															{% else %}
																	<img src="http://placehold.it/300&text=Image+Needed">
															{% endif %}
													</a>
											</figure>
											<div class="meta">
														<p><em><strong>{{post.title}}</strong></em><br>
														{{post.get_field('date_artfair')}}</p>
											</div>
									</article>
							{% endfor %}
						</div>
					{% endif %}
				{% endif %}
			{% endfor %}
		</div>
	</section>

{% endblock %}
