{% extends "base.twig" %}

{% block content %}
	
	<section class="main" id="news">
		
		<div class="container">
			
			<div class="row border">
		        <div class="col-md-12">
		          <h2>{{title}}</h2>
		        </div>
		    </div>
				
			{% for post in posts %}
				<div class="row">
					{% if post.get_thumbnail %}
						<div class="col-md-4">
							<figure>
								<img src="{{post.thumbnail.get_src|resize(500)}}" />
							</figure>
						</div>
					{% endif %}
					<div class="{% if post.get_thumbnail %}col-md-8{% else %}col-md-12{% endif %}">
						<article>
							<h2>{{post.title}}</h2>
							<p>{{ post.post_date|date}}</p>
							<p>{{post.content}}</p>
							<span class="hr"></span>
						</article>
					</div>
				</div>
			{% endfor %}
			
	</section>

{% endblock %}


