{% extends "base.twig" %}

{% block content %}

	<section class="main" id="single-artfair">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2 class="title">{{post.title}}</h2>
				</div>
			</div>
			<div class="row border">
					<div class="col-md-12">
							<ul id="filter-section" class="filter">
									<li><a href="#artfairs-artworks" class="active">{{ function( 'pll_e', 'Oeuvres')}}</a></li>
									<li><a href="#artfairs-release">{{ function( 'pll_e','informations')}}</a></li>
									{% if publications %}
											<li><a href="#artfairs-publications">{{ function( 'pll_e','Publications')}}</a></li>
									{% endif %}
									{% if press %}
											<li><a href="#artfairs-press">{{ function( 'pll_e','Presse')}}</a></li>
									{% endif %}
									{% if post.get_field('tour_iframe') %}
											<li><a class="link" href="{{ post.get_field('tour_iframe') }}" target="_blank">{{ function( 'pll_e','Tour Virtuel')}}</a></li>
											<!-- <li><a href="#artfairs-tour" target="_blank">{{ function( 'pll_e','Tour Virtuel')}}</a></li> -->
									{% endif %}
							</ul>
					</div>
			</div>

			<section class="filtering" id="artfairs-artworks">
				<div class="row">

					<div class="col-md-12">
						<ul class="filter">
								<li id="grid"><a href="#">{{ function( 'pll_e','Vignettes')}}</a></li>
								<li id="slideshow"><a href="#">{{ function( 'pll_e','Details')}}</a></li>
						</ul>
					</div>

					{% set artworks = post.get_field('fair_img') %}
					<div id="thumbs" class="thumbnails">
						{% for image in artworks %}
						{% set attachment = TimberPost(image.id) %}
							<article class="col-sm-6 col-md-3">
									<figure class="c4" data-slide="{{loop.index0}}">
											<img src="{{TimberImage(image.id).get_src|resize(480)}}" />
									</figure>
									<div class="meta">
											<p><em><strong>{% if current_lang == 'fr' %}{{image.title}}{% else %}{{ attachment.get_field('title_en') }}{% endif %}</strong></em><br>
													{{post.get_field('date_artfair')}}</p>
									</div>
							</article>
						{% endfor %}
					</div><!-- Thumbnails -->

					<div id="artwork-slider" class="flexslider">
						<ul class="slides img-centered">
							{% for image in artworks %}
								<li>
										<a class="fancybox" data-fancybox-group="gallery" rel="gallery" href="{{TimberImage(image.id).get_src}}">
												<img src="{{TimberImage(image.id).get_src|resize(850)}}" />
										</a>
								</li>
							{% endfor %}
						</ul>
					</div><!-- slideshow -->

				</div>
			</section><!-- artworks-->

			<section class="filtering" id="artfairs-release">
				<div class="row">
					<div class="col-md-4">
						<img src="{{post.thumbnail.src|resize(480)}}" />
					</div>
					<div class="col-md-8">
						<article>
							{{post.content}}
							{% if post.get_field('fair_press') %}
								<p class="link"><a href="{{post.get_field('fair_press').url}}" target="_blank">
									{{ function( 'pll_e','Telecharger le dossier de presse en PDF')}}</a></p>
							{% endif %}
						</article>
					</div>
				</div>
			</section><!-- /Dossier press -->

			{% if publications %}
				<section class="filtering one-two-col" id="artfairs-publications">
					{% for rel in publications %}
						<div class="row">
							<figure class="col-md-4 col-sm-3">
								{% if rel.thumbnail %}
									<img src="{{rel.get_thumbnail.get_src|resize(480)}}" />
									{% else %}
										<img src="http://placehold.it/300&text=Image+Needed">
									{% endif %}
							</figure>
							<article class="col-md-8 col-sm-9">
								<h3>{{rel.title}}</h3>
								<p>{{rel.content}}</p>
								{% if rel.pub_link %}
									<p class="link">
										<a href="{{rel.get_field('pub_link')}}" target="_blank">{{ function( 'pll_e','Lire la publication en ligne')}}</a>
									</p>
								{% endif %}
								{% if rel.publi_pdf %}
									<p class="link">
										<a href="{{rel.get_field('publi_pdf').url}}" target="_blank">{{ function( 'pll_e','Telecharger la publication en PDF')}}</a>
									</p>
								{% endif %}
							</article>
						</div>
					{% endfor %}
				</section><!-- publications -->
			{% endif %}
			{% if press %}
					<section class="filtering one-two-col" id="artfairs-press">
						{% for rel in press %}
								<div class="row">
									<figure class="col-md-4 col-sm-3">
										{% if rel.thumbnail %}
											<img src="{{rel.get_thumbnail.get_src|resize(480)}}" />
											{% else %}
												<img src="http://placehold.it/300&text=Image+Needed">
											{% endif %}
									</figure>
									<article class="col-md-8 col-sm-9">
										<h3>{{rel.title}}</h3>
										<p class="date">{{rel.press_date}}</p>
										<p class="editeur">{{rel.press_editeur}}</p>
										<p>{{rel.content}}</p>
										{% if rel.press_pdf %}
											<p class="link"><a href="{{rel.get_field('press_pdf').url}}" target="_blank">{{ function( 'pll_e','Telecharger la presse')}}</a></p>
										{% endif %}
									</article>
									</div>
								{% endfor %}
					</section><!-- press -->
			{% endif %}
			{% if post.get_field('tour_iframe') %}
				<!-- <section class="filtering" id="#artfairs-tour">
						<div class="row">
							<div class="col-md-12">
								<div class="embed-container">
									<object type="application/x-shockwave-flash" width="100" height="100">
											<param name="movie" value="{{ post.get_field('tour_iframe') }}">
											<embed src="{{ post.get_field('tour_iframe') }}" width="100" height="100">
											</embed>
									</object>
								</div>
							</div>
						</div>
				</section> tour -->
			{% endif %}
		</div>
	</section><!-- exhibition-->

{% endblock %}
