{% extends "base.twig" %}

{% block content %}

		{% set artist = TimberPost(post.get_field('artistes_expo')) %}
		<section class="main" id="single-exhibition">

						<div class="container">
								<div class="row border">
										<div class="col-md-4">
												<h2>{{post.title}}</h2>
										</div>

										<div class="col-md-8">
												<ul id="filter-section" class="filter">
														<li><a href="#exhibitions-artworks" class="active">{{ function( 'pll_e',"Selection d'oeuvres")}}</a></li>
														<li><a href="#exhibitions-press">{{ function( 'pll_e','Dossier de presse')}}</a></li>
														{% if artist %}
																<li><a href="#exhibitions-artists">{{ function( 'pll_e','Artistes')}}</a></li>
														{% endif %}
														{% if bibliographies %}
																<li><a href="#exhibitions-publications">{{ function( 'pll_e','Catalogue')}}</a></li>
														{% endif %}
												</ul>
										</div>
								</div>

								<section class="filtering" id="exhibitions-artworks">
												<div class="row">

																<div class="col-md-12">
																			<ul class="filter">
																					<li id="grid"><a href="#">{{ function( 'pll_e','Vignettes')}}</a></li>
																					<li id="two-col"><a href="#">{{ function( 'pll_e','Liste')}}</a></li>
																					<li id="slideshow"><a href="#">{{ function( 'pll_e','Diaporama')}}</a></li>
																			</ul>
																	</div>

																{% set artworks = post.get_field('images_show') %}
																		<div id="thumbs" class="thumbnails">
																				{% for image in artworks %}
																						<article class="col-sm-6 col-md-4">
																								<figure class="c3 boxed" data-slide="{{loop.index0}}">
																									<div class="img-area">
																										<img src="{{TimberImage(image.id).get_src|resize(480)}}" />
																									</div>
																								</figure>
																								<div class="meta">
																										<p><em><strong>{{image.title}}</strong></em><br>
																												{% if artist|length == 1 %}
																														{{artist[0].post_title}}<br>
																												{% endif %}
																														{{post.get_field('date_exhibition')}}</p>
																								</div>
																						</article>
																				{% endfor %}
																		</div><!-- Thumbnails -->

																<div id="artwork-slider" class="flexslider">
																			<ul class="slides">
																						{% for image in artworks %}
																								<li>
																									<div class="row">
																										<figure class="col-md-8">
																											<a class="fancybox" data-fancybox-group="gallery" rel="gallery" href="{{TimberImage(image.id).get_src}}">
																												<img src="{{TimberImage(image.id).get_src|resize(850)}}" />
																											</a>
																										</figure>
																										<article class="col-md-4">
																											<div class="slide-text">
																												<div class="row-bottom">
																													<h4>{{image.title}}</h4>
																													<p>{{image.caption}}</p>
																													<a href="mailto:{{ options.email }}?subject={{post.title}} - {{image.title}}">{{ function( 'pll_e','Contactez nous')}}</a>
																													<a href="#related">{{ function( 'pll_e','Vous aimerez aussi')}}</a>
																												</div>
																											</div>
																										</article>
																									</div>
																									<div class="row">
																										<div class="description">
																											<p>{{image.description}}</p>
																										</div>
																									</div>
																								</li>
																						{% endfor %}
																				</ul>
																</div><!-- slideshow -->

																<div id="list" class="one-two-col">
																		{% for image in artworks %}
																			<div class="row">
																				<figure class="col-md-6">
																						<img src="{{TimberImage(image.id).get_src|resize(480)}}" />
																				</figure>
																				<article class="col-md-6">
																						<h4>{{image.title}}</h4>
																						<p>{{image.caption}}</p>
																				</article>
																			</div>
																		{% endfor %}
																	</div><!-- details -->

													</div>
								</section><!-- artwork-->

								{% if press %}
										<section class="filtering one-two-col" id="exhibitions-press">
												{% for rel in press %}
														<div class="row">
																<figure class="col-md-4 col-sm-3">
																		{% if post.thumbnail %}
																				<img src="{{rel.get_thumbnail.get_src|resize(480)}}" />
																				{% else %}
																						<img src="http://placehold.it/300&text=Image+Needed">
																				{% endif %}
																</figure>
																<article class="col-md-8 col-sm-9">
																		<h3>{{rel.title}}</h3>
																		<p class="date">{{rel.press_date}}</p>
																		<p>{{rel.content}}</p>
																		{% if rel.press_pdf %}
																				<p class="link"><a href="{{rel.get_field('press_pdf').url}}" target="_blank">{{ function( 'pll_e','Telecharger PDF')}}</a></p>
																		{% endif %}
																</article>
															</div>
										{% endfor %}

										</section><!-- Press -->
								{% endif %}

								{% if artist %}
										<section class="filtering thumbnails" id="exhibitions-artists">
												<div class="row">

														{% for post in artist %}
																<article class="col-md-3 col-sm-6">
																				<figure class="c4">
																						<a href="{{post.link}}">
																								{% if post.thumbnail %}
																										<img src="{{post.get_thumbnail.get_src|resize(480,320, center)}}" />
																								{% else %}
																										<img src="http://placehold.it/300&text=Image+Needed">
																								{% endif %}
																						</a>
																				</figure>
																				<div class="meta">
																						<h4><a href="{{post.link}}">
																								{{post.title}}
																								</a>
																						</h4>
																				</div>
																		</article>
																{% endfor %}

														</div>
										</section><!-- Artists -->
								{% endif %}

								{% if bibliographies %}
										<section class="filtering one-two-col" id="exhibitions-publications">
													{% for rel in bibliographies %}
																	<div class="row">
																				<figure class="col-md-4 col-sm-3">
																					{% if rel.thumbnail %}
																						<img src="{{rel.get_thumbnail.get_src|resize(480)}}" />
																						{% else %}
																							<img src="http://placehold.it/300&text=Image+Needed">
																						{% endif %}
																				</figure>
																				<article class="col-md-8 col-sm-9">
																					<h3>{{rel.title}}</h3>
																					<p>{{rel.content}}</p>
																					{% if rel.issu_link %}
																						<p class="link">
																							<a href="{{rel.get_field('issu_link')}}" target="_blank">{{ function( 'pll_e','Cliquer ici pour voir la brochure en ligne')}}</a>
																						</p>
																					{% endif %}
																					{% if rel.pub_pdf %}
																						<p class="link">
																							<a href="{{rel.get_field('pub_pdf').url}}" target="_blank">{{ function( 'pll_e','Telecharger PDF')}}</a>
																						</p>
																					{% endif %}
																				</article>
																	</div>
														{% endfor %}
											</section><!-- publications -->
									{% endif %}

		</section><!-- exhibition-->

{% endblock %}
