{% extends "base.twig" %}

{% block content %}

		<section class="main" id="single-artfair">

						<div class="container">
								<div class="row border">
										<div class="col-md-4">
												<h2>{{post.title}}</h2>
										</div>

										<div class="col-md-8">
												<ul id="filter-section" class="filter">
														<li><a href="#artfairs-artworks" class="active">{{ function( 'pll_e'," Oeuvres")}}</a></li>
														<li><a href="#artfairs-press">{{ function( 'pll_e','Dossier de Presse')}}</a></li>
														{% if publications %}
																<li><a href="#artfairs-publications">{{ function( 'pll_e','Publications')}}</a></li>
														{% endif %}
												</ul>
										</div>
								</div>

								<section class="filtering" id="artfairs-artworks">
												<div class="row">

																<div class="col-md-12">
																			<ul class="filter">
																					<li id="grid"><a href="#">{{ function( 'pll_e','Vignettes')}}</a></li>
																					<li id="slideshow"><a href="#">{{ function( 'pll_e','Details')}}</a></li>
																			</ul>
																	</div>

																{% set artworks = post.get_field('fair_img') %}
																		<div id="thumbs" class="thumbnails">
																				{% for image in artworks %}
																						<article class="col-sm-6 col-md-3">
																								<figure class="c4" data-slide="{{loop.index0}}">
																										<img src="{{TimberImage(image.id).get_src|resize(480)}}" />
																								</figure>
																								<div class="meta">
																										<p><em><strong>{{image.title}}</strong></em><br>
																											{{post.get_field('date_artfair')}}</p>
																								</div>
																						</article>
																				{% endfor %}
																		</div><!-- Thumbnails -->

																<div id="artwork-slider" class="flexslider">
																		<ul class="slides">
																				{% for image in artworks %}
																						<li>
																								<a class="fancybox" data-fancybox-group="gallery" rel="gallery" href="{{TimberImage(image.id).get_src}}">
																										<img src="{{TimberImage(image.id).get_src|resize(850)}}" />
																								</a>
																						</li>
																				{% endfor %}
																			</ul>
																</div><!-- slideshow -->

													</div>
								</section><!-- artworks-->

								<section class="filtering" id="artfairs-press">
										<div class="row">
												<div class="col-md-12 centered">
													<article>
														<p>{{post.content}}</p>
														{% if post.get_field('Fair_press_release') %}
															<p class="link"><a href="{{post.get_field('Fair_press_release').url}}" target="_blank">
																{{ function( 'pll_e','Telecharger la publication')}}</a></p>
														{% endif %}
													</article>
												</div>
										</div>
								</section><!-- /press -->

								{% if publications %}
										<section class="filtering one-two-col" id="artfairs-publications">
													{% for rel in publications %}
																	<div class="row">
																				<figure class="col-md-4 col-sm-3">
																					{% if rel.thumbnail %}
																						<img src="{{rel.get_thumbnail.get_src|resize(480)}}" />
																						{% else %}
																							<img src="http://placehold.it/300&text=Image+Needed">
																						{% endif %}
																				</figure>
																				<article class="col-md-8 col-sm-9">
																					<h3>{{rel.title}}</h3>
																					<p>{{rel.content}}</p>
																					{% if rel.pub_link %}
																						<p class="link">
																							<a href="{{rel.get_field('pub_link')}}" target="_blank">{{ function( 'pll_e','Cliquer ici pour voir la brochure en ligne')}}</a>
																						</p>
																					{% endif %}
																					{% if rel.publi_pdf %}
																						<p class="link">
																							<a href="{{rel.get_field('publi_pdf').url}}" target="_blank">{{ function( 'pll_e','Telecharger la publication')}}</a>
																						</p>
																					{% endif %}
																				</article>
																	</div>
														{% endfor %}
											</section><!-- publications -->
									{% endif %}

		</section><!-- exhibition-->

{% endblock %}
