{% block footer %}

				<footer>
			<div class="container">
					<div class="row">
							<div class="col-md-4">
								<h3>{{site.name}}</h3>
								<p>
									<a href="{{ options.google_map }}">{{ options.adresse }}</a><br>
									<a href="mailto:{{ options.email }}">{{ options.email }}</a><br>
									{{ options.telephone }}<br>
								</p>
							</div>
							<div class="col-md-4">
								{% if current_lang == 'fr' %}
									<p>{{ options.horaires }}</p>
								{% else %}
										<p>{{ options.horaires_en }}</p>
								{% endif %}
							</div>

							<div class="col-md-4">
									<h3>Newsletter</h3>
									{{ footer_sidebar }}
							</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<p class="small">Copyright {{"now"|date('Y')}} - {{site.name}} - <a href="{{options.footer_link}}">{{ function( 'pll_e','Mentions légales')}}</a></p>
							</div>
					</div>
			</div>
	</footer>

{% endblock %}
