{% extends "base.twig" %}

{% block content %}
	
	<section id="artists" class="oneheader">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2 class="police-9">{{title}}</h2>
				</div>
				<div class="col-md-12">
					<ul class="filter police-6">
						<li id="all"><a href="#">All</a></li>
						<li id="rep"><a href="#">Represented by</a></li>
						<li id="proj"><a href="#">Project with</a></li>
					</ul>
				</div>

				<div class="col-md-10 col-md-offset-1">
					<div class="row">
					{% for post in posts %}					
						{% set terms = post.get_terms('artist_category') %}
							<div class="col-md-3 col-sm-6 mix {{terms[0].slug | print_r }}">
								<div class="thumb-over">
									<a href="{{post.link}}">
										{% if post.thumbnail %}
											<img src="{{post.get_thumbnail.get_src|resize(480)}}" />
										{% else %}
											<img src="http://placehold.it/300&text=Image+Needed">
										{% endif %}
									</a>
								</div>
								<div class="artist-infos">
									<p class="police-8"><a href="{{post.link}}">
										{{post.title}}
										</a>
									</p>
								</div>
							</div>						
					{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</section>

{% endblock %}

