{% extends "base.twig" %}
  
  {% block content %}

        <section class="ct-height rideau home slide carousel-fade" id="current">
          
          <div class="carousel-inner">
            {% for post in posts %}    
              <div class="item{% if loop.first %} active{% endif %}">
                
                <div class="fill" style="background-image: url('{{post.thumbnail.src}}')">
                </div>
                
                <div class="container caption">
                  <div class="cs-infos fade-in" style="color:{{post.title_color}}">
                    <h1>{{post.artist_name}}</h1>
                    <p class="nom">{{post.title}}</p>
                    <p class="date">{{post.date_exhibition_fr}}</p>
                    {% if (post.exhibition_place) %}
                      <p class="place">{{post.exhibition_place}}</p>
                    {% endif %}
                    <a href="{{post.link}}">View Exhibition</a>
                  </div>
                </div><!-- /container -->

              </div>
            {% endfor %}
          </div>
          
           <!-- Controls -->
        <a class="left carousel-control arrows arrow-left" href="#current" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control arrows arrow-right" href="#current" data-slide="next">
            <span class="icon-next"></span>
        </a>
        </section><!-- /landing -->  
        
{% endblock %}
