{% extends "base.twig" %}

{% block content %}      	
  
  <section class="oneheader clearfix" id="exhibition">

      <div class="container">
        <div class="row">
        
          <div id="navside" class="col-md-3">
            <p class="police-9">{{ post.get_field('categories_expo') }}</p>
            <p class="police-8">{{post.title}}</p>
            {% for artist in post.get_terms('exhibition_artist') %}
              <p class="police-6">{{artist.name}}</p>
            {% endfor %}
            <p class="police-6">{{post.date_exhibition_fr}}</p>
            {% if (post.exhibition_place) %}
              <p class="police-6">{{post.exhibition_place}}</p>
            {% endif %}
              <a class="police-5" href="{{ rel.get_field('exhib_pdf') }}" target="_blank">Press Release</a>
          </div>

          <div class="col-md-9" role="main">
              {% set images_show = post.get_field('images_show') %}
                {% for image in images_show  %}
                  <div class="col-md-4 col-sm-6"> 
                    <div class="row-thumb">  
                        <a class="fancybox" data-fancybox-group="gallery" rel="gallery" title="{{image.title}}" href="{{TimberImage(image.id).get_src}}">  
                          <img src="{{TimberImage(image.id).get_src|resize(300, 200, 'center')}}" />
                        </a>
                        <div class="row-info">
                           <a class="fancybox" data-fancybox-group="gallery" rel="gallery" title="{{image.title}}" href="{{TimberImage(image.id).get_src}}">  
                                <p>{{image.title}}</p>
                          </a>
                        </div>
                    </div>
                  </div>
                {% endfor %}
          </div> 

        </div>            
      </div>

  </section><!-- exhibition-->

  <div class="scroll-behind">
    <a class="smoothy" href="#scroll-top">Behind the scenes</a>
  </div>
   <!-- /behind the scenes -->

  <section id="scroll-top" class="spacer ct-height"></section>

  <section id="timeline" class="time-nav ct-height">

    {% set making_off = post.get_field('making_of') %}
    
       <div class="tl-blocks">
        {% for image in making_off %}
          <div class="tl-item">
            <div class="item-inner home ct-height" data-href="{{image.url}}" data-caption="{{image.caption}}">
              <h2 class="tl-date">{{image.title}}</h2>
            </div>              
              <img src="{{TimberImage(image.url).src}}" />
          </div>
        {% endfor %}
      </div>

      <div class="arrows arrow-left"></div>
      <div class="arrows arrow-right"></div>
      <!-- /arrows-->

    </section><!-- timeline -->
    
{% endblock %}
